*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}
.history_of_h_m{
	margin-top: 50px;
}

.container_history_of_h_m{
	font-size: 18px;
	line-height: 30px;
}

.container_history_of_h_m > p{
	margin-bottom: 30px;
}
.list-property{
	margin-bottom: 20px;
}
.list-property > ul > li{
	list-style-type: none;
	line-height: 30px;
}
.create_hm > ul > li > p{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
}

.create_hm .photo_hm{
	margin-top: 20px;
	margin-right: 20px;
}

.h_mIn21 p{
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 20px;
}

/*footer*/
.footer{
	background-color: #D4B9CE;
	margin-top: 50px;
	position: absolute;
	width: 100%;
}
.footer-container{
	display: flex;
	width: 500px;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	flex-direction: column;
}
.about{
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;

}
.about > ul li{
	list-style-type: none;
	font-size: 20px;
	padding: 5px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	justify-content: center;
}

.about > ul li:nth-child(2){
	margin-right: 15px;
	margin-left: 15px;
}
.about > ul > li > a{
	color: black;
	padding: 5px;
}

.icons{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	
}
.icons img:nth-child(1){
	margin-right: 20px;
}
.icons img:nth-child(2){
	margin-left: 20px;
}
.icons img{
	max-width: 40px;
}

.icons a:hover{
	padding: 0px;
	background-color: transparent;
}

.icons a:visited{
	color:transparent;
}
.icons a:link{
	color:transparent;
}
.icons a:active{
	color:transparent;
}
.text{
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

/*кнопка наверх*/
#scroll_top{
	position: fixed;
	float: right;
	z-index: 10;
	right: 0;
	margin-right: 50px;
	bottom: 50px;
}

#scroll_top img{
	max-width: 70px;
	cursor: pointer;
}

.isShowBtn{
	opacity: 1;
	transition: 0.5s;
}

.isShowBtn_hide{
	opacity: 0;
}